body {
  background-color: #fff;
}

.navbar {
  display: inline;
  float: left;
  display: block;
  color: #808080;
  font-family: 'Raleway';
  text-align: center;
  padding: 14px 16px;
}
.navbar:hover {
  text-decoration: none;
  background-color: #add8e6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
